.pets {
  position: relative;
}

.card-content {
  line-height: .25;
  padding-left: .5em;
}

.other-content {
  color: var(--color-accent);
}

.pet-name {
  color: var(--color-accent);
}

@media only screen and (min-width: 32em) {

  .other-content {
    display: none;
  }

  .pet-name {
    display: none;
  }

  .pets:hover .pet-pic {
    opacity: .5;
  }

  .card-content {
    left: 5%;
    bottom: 5%;
    position: absolute;
  }

  .pets:hover .other-content {
    display: block;
  }

  .pets:hover .pet-name {
    display: block;
  }

}
