.btn-round {
  background-color: var(--color-primary);
  width: 12em;
  height: 12em;
  line-height: 2.5em;
  border-radius: 50%;
  text-align: center;
  border: solid 8px var(--color-secondary);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

span {
  font-size: 2em;
  font-weight: light;
  font-family: var(--font-secondary);
}

.circle-btn {
  font-size: 3em;
}

.btn-round:hover {
  border-color: var(--color-secondary);
}

.btn-normal {
  border: none;
  background-color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
}

.btn-white {
  color: var(--color-accent);
  background-color: #fff;
  border: none;
}

.btn-white:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn-orange {
  background-color: var(--color-whatever);
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: var(--color-primary);
}
